.Navbar {
    position: relative;
    display: flex;
    align-items: center;
    padding:20px
    
}
.logo-img {
    float: left;
}


.navbar-container{
    flex: 0 0 50%;
    display: flex;
    justify-content: flex-start;  
  
    
}
.NavLink {

    font-size: 1.5rem;
    margin: 2rem;
    text-decoration: none;
    color: white;
}

.search-input{
    margin-left: 20px;
    justify-content: flex-end;
    
}

@media only screen and (max-width: 810px) {
    .Navbar{
        display: flex;
        flex-direction: column;
    }    
    .navbar-container {
        flex-direction: column;
    }
    search-input{
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
}